parameters:
    level: 8
    checkMissingIterableValueType: false
    paths:
        - src

    earlyTerminatingMethodCalls:
        CuyZ\WebZ\Core\Event\EventsMiddleware:
            - dispatchError
